$colorPrimary: #F8EFD4;
$colorSecondary:#EDD68A;
$colorFooter: #515070;

$colorPrimaryTrans: #dfd0a3;
$colorSecondaryTrans:#dac57f;

$fontPrimary: #000000;
$fontSecondary: #565A60;
$fontTersier: #4ECDC4;

$btnPrimary: #FE6665;
$btnPrimaryTrans: #dd5858;