footer {
    color: white;
    background: $colorFooter;
    font-family: $montserrat;

    h1 {
        color: white;
        font-weight: bold;
    }

    a {
        opacity: 0.5;
        color: white;
        font-weight: 300;
        font-family: $montserrat;

        &:hover {
            color: white;
            opacity: 1;
        }
    }

    .copyright {
        color: white;
        margin-top: 100px;
    }
}